html{
    --bmenu-body-dark: rgb(15, 15, 28);
    --bmenu-glass: rgba(117, 117, 117, 0.23);
    --hmenu-glass: rgba(0, 0, 0, 0.48);
    --header-glass: rgb(120, 124, 129);
    --bmenu-body-color: rgb(65, 180, 255);
    --bmenu-glass-over: rgba(80, 105, 120, 0.60);
    --screen-glass: rgb(246, 248, 250);
    --ai-wizard-color: rgb(138 73 190 / 82%);
    --ai-wizard-bg: rgba(4, 4, 7, 0.68);
    overflow-x: hidden;
}

body{
    margin-top: 60px;
    margin-bottom: 60px;
    background: var(--bmenu-body-dark);
}

body.modal-open {
    position: fixed!important;
    max-height: 100vh;
}

a,
a:link,
a:active,
.alink{
    text-decoration: none;
    color: var(--bmenu-body-color);
}

input,
select,
.btn,
.form-control {
    border-radius: 3px;
}

.screen-wrapper input,
.screen-wrapper select,
.screen-wrapper .btn,
.screen-wrapper .form-control {
    font-size: 1.1em;
}

.accordion {
    --bs-accordion-bg: var(--bmenu-body-dark);
    --bs-accordion-color: #fff;
    --bs-accordion-btn-color: #fff;
}
#profile.screen .accordion-flush .accordion-item {
    margin-top: 25px;
}

.accordion-button:not(.collapsed) {
    color: #787c81;
    background-color: #ffffff;
}

.form-control {
    outline:none!important;
}

.toast-container{
    top: 60px;
}



.show-if-admin,
.hide-if-admin,
.show-if-agent,
.hide-if-agent,
.show-if-user,
.hide-if-user,
.show-if-guest,
.hide-if-guest,
.d-hide {
    display: none;
}
.d-col-2 {
    column-count: 2;
    column-gap: 1px;
}

/*
 * Screen
 */
#screen-wrapper,
.screen-wrapper {
    max-width: 980px;
    font-size: 0.8em;
}
.screen-wrapper{
    margin: auto;
}
#screen-wrapper .screen+#screen-wrapper .screen  {
    margin-bottom: 75vh;
}
#screen-wrapper .screen {
    padding: 5px 7px 20px;
    animation: flipOutY;
    animation-duration: 0.6s;
    border-radius: 6px;
    background: rgb(255,255,255);
    background:radial-gradient(circle, rgb(44 12 12 / 4%) 0%, rgb(29 34 56) 0%, rgb(0 0 0 / 80%) 100%);
    color: var(--screen-glass);
}
#screen-wrapper .screen.active {
    display: block;
    animation: flipInY;
    animation-duration: 1s;
}
#screen-wrapper .screen-header{
    border-bottom:1px solid var(--bmenu-glass);
    text-align: center;
    color: var(--header-glass);
}
#screen-wrapper .screen-footer{
    border-top:1px solid var(--bmenu-glass);
    color: var(--bmenu-glass-over);

}
#screen-wrapper .screen-body{
    padding: 5px 3px;
    color: var(--screen-glass);
    min-height: 70vh;
}

/*
 * Header Menu
 */
header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: var(--header-glass);
}

header .h-menu-ico {
    width: 32px;
    padding: 7px;
    border:1px solid var(--bmenu-glass-over);
    border-radius: 5px;
    color: var(--screen-glass);
}
header .close-ico {
   margin: 6px 6px 0;
}
header .avatar {
    width: 32px;
    height: 32px;
    border-radius: 50px;
    border: 1px solid #60717c;
}

.h-menu .menu{
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    height: 95vh;
    padding-top:15px;
    backdrop-filter: blur(4px);
    background: var(--hmenu-glass);
    color: var(--screen-glass);
}
.h-menu .l-menu{
    animation: bounceInLeft;
    animation-duration: 1s;
}
.h-menu .r-menu{
    animation: bounceInRight;
    animation-duration: 1s;
}
.h-menu .l-menu .item,
.h-menu .r-menu .item {
    border: 1px solid var(--bmenu-body-dark);
    padding: 15px;
    margin-bottom: 5px;
    border-radius: 2px;
    background-color: var(--bmenu-glass-over);
    color: var(--bmenu-body-color);
    text-decoration: none;
}
.h-menu .l-menu .item i,
.h-menu .r-menu .item i {
    float: right;
    padding: 9px;
    margin-top: -5px;
    margin-right: -5px;
    border: 1px solid #586771;
    color: #eee;
    width: 35px;
}
.h-menu #h-jump{
    position: absolute;
    top: 64px;
    left: 0;
    background: var(--screen-glass);
    width: 100%;
    padding: 15px;
}
.h-menu #doS-jump{
    position: absolute;
    top: 19px;
    right: 50px;
    padding-left: 1.5em;
    padding-right: 1.5em;
}
.h-menu #doO-search-menu{
    position: absolute;
    top: 60px;
    right: 15px;
    background: var(--screen-glass);
    padding: 5px 55px;
    border-radius: 5px;
}
.h-menu #doS-support{
 }
.h-menu #doS-debug{
    position: absolute;
    top: 17px;
    margin-left:15px ;
}



.h-menu .btn-key {
    padding: 0;
}
/*
 * Bottom Menu
 */
.b-menu {
    position: fixed;
    bottom: 10px;
    left:15px;
    right:15px;
    height: 70px;
    border-radius: 10px;
    padding: 15px;
    background: var(--bmenu-glass);
    backdrop-filter: blur(10px);
    color: var(--bmenu-body-color);
}
.b-menu .broker-logo{
    height: 75px;
    width: auto;
    margin-top: -25px;
    padding: 1px;
    border-radius: 50px;
    background: var(--bmenu-glass);
    box-shadow: 0px -6px 20px 6px var(--bmenu-glass-over);
}
.b-menu-item {
    height: 40px;
    width: 40px;
    border-radius: 50px;
    text-align: center;
    box-shadow: 0px 3px 12px 0px var(--bmenu-glass-over);
    padding-top: 5px;
    margin-top: -7px;
}
.b-menu-item a span{
    display: block;
    margin-top: 15px;
    font-size: 0.6em;
    text-shadow: 0px 0px 0px #000;
}
.b-menu-item.active {
    background: #00a3ffde;
    color: #fff;
    transition: all 0.3s linear;
}
.b-menu-item.active span {text-shadow: 0px 0px 10px #000;}

.b-menu-ico {
    width: 22px;
    height: 22px;
}
.b-menu-logo {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.b-menu-logo.active {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    transition: all 0.4s linear;
}

/**
 * Screen Debug
 */
#debug .screen-body>div{
    padding: 2px;
    border: 8px solid var(--hmenu-glass);
}
#app-status h5 {
    color:coral;
}
#online-status>div{
    font-size: 0.8em;
    display: inline-block;
    margin-right: 5px;
    padding: 5px 10px;
    color: #ccc;
}
#app-status>div{
    font-size: 0.8em;
    display: inline-block;
    margin-right: 5px;
    padding: 5px 10px;
    color: #ccc;
}


/* Screen Login */
#login {
    color: var(--screen-glass);
    background: var(--bmenu-glass);
}

/* Register Form */
form #countries {
    max-height: 220px;
    overflow-y: scroll;
}
form #select-country svg {
    width: 24px;
}

/* Screen Profile */
#profile-avatar{
    position: relative;
}
#profile-avatar button{
    position: absolute;
    bottom: -25px;
    right: 0;
    left: 0;
    width: 30vw;
    margin: 0 auto;
    max-width: 200px;
}
#profile-avatar img{
    width: 20vh;
    box-shadow: 0 0 20px 1px #787c81;
    border-radius: 100px;
    margin: 25px;
}

.widget{
    position: relative;
}

.w-box{
    position: relative;
    box-shadow: inset 0 0 25px 0px #41b4ff45;
    padding: 10px 15px;
    border-radius: 4px;
    margin-top: 2.4vh;
}

.w-box h4{
    border-bottom: 1px solid #00469378;
    font-size: 0.9em;
    color: #ffb400;
    font-family: monospace;
    padding: 8px 4px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.w-box-body{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.w-box-body>div{
    width: 100%;
}
.w-box-body.h-200{min-height: 200px;}
.w-box-body.h-150{min-height: 150px;}
.w-box-body.h-130{min-height: 130px;}
.w-box-body.h-100{min-height: 100px;}
.w-box-body.h-50{min-height: 50px;}

/**
 * DateTime
 */
#w-datetime {
    font-size: 1em;
}
#w-datetime .zone{
    letter-spacing: 1px;
    font-size: 0.75em;
}
#w-datetime .time{
    letter-spacing: 4px;
    font-family: sans-serif;
    font-weight: 600;
}
#zone-times .zone{color: darkslategrey;}
#zone-times .time{color: cadetblue;}
#server-time {
    height: 20px;
    background: rgba(77,83,101,0.12);
    color: steelblue;
    font-size: 0.85em;
    padding: 2px 5px;
}

/**
 * Widget - Wizard
 */
.text-wizard {color: var(--ai-wizard-color);}
.bg-wizard {background: var(--ai-wizard-color);}
.text-bg-wizard {color: var(--ai-wizard-bg);}
.bg-bg-wizard {background: var(--ai-wizard-bg);}

#w-wizard .w-box-body {
    background: url(../img/wizard.jpg) center top;
    background-size: 100%;
    padding: 8px 8px 8px 130px;
    background-position: -12px;
}

/**
 * Widget - Wizard
 */
#w-ruby .w-box-body {
    background: url(../img/ruby.jpg) center top;
    background-size: 100%;
    padding: 8px 8px 8px 130px;
    background-position: -12px;
}

/**
 * Button
 */
.btn{
    border-radius: 2px;
}
.btn-outline-secondary {

}

.btn-outline-secondary:hover {

}

.step-number{
    width: 20px;
    text-align: center;
    font-weight: 700;
}

.step-active{
    border: 1px solid #0f00f5;
    background: white;
    color: #0f00f5;
}

.step-skip{
    border: 1px solid #4e4e4e;
    background: #ffffff;
    color: #4e4e4e;
}

.step-done{
    border: 1px solid #ffffff;
    background: #3ba300;
    color: #ffffff;
}

.step-req{
    border: 1px solid #ff0000;
    background: #ffffff;
    color: #ff0000;
}

/*
 * Market
 */
.row-symbol{
    margin: 12px 0;
    padding: 10px 4px;
    background: #21252973;
}
.row-symbol .Symbol{
    margin-bottom: 20px;
}
.row-symbol .Ask{
    margin-bottom: -20px;
    padding: 5px 10px;
    border: 1px solid #198754;
    background: #fff;
    color: #000;
    font-weight: 800;
    min-width: 90px;
    border-radius: 5px;
    text-align: center;
}
.row-symbol .Bid {
    margin-bottom: -20px;
    padding: 5px 10px;
    border: 1px solid #dc3545;
    background: #fff;
    color: #000;
    font-weight: 800;
    min-width: 90px;
    border-radius: 5px;
    text-align: center;
}
.row-symbol .Bid > span,
.row-symbol .Ask > span{
    display: block;
}

    /**
     * Data Table
     */
.wrapper-dt{
    position: relative;
    overflow-x: auto;
    max-height: 250px;
    overflow-Y: auto;
}

@media (min-width: 768px) {
    .modal-fullscreen .modal-content {
        margin-right: 15px;
    }
    .screen-wrapper{
        padding: 15px 25px;
        border: 1px solid var(--hmenu-glass);
    }

    .w-box-body.h-md-200{min-height: 200px;}
    .w-box-body.h-md-150{min-height: 150px;}
    .w-box-body.h-md-130{min-height: 130px;}
    .w-box-body.h-md-100{min-height: 100px;}
    .w-box-body.h-md-50{min-height: 50px;}

    #w-wizard .w-box-body {padding: 8px 8px 8px 175px;}
    #w-ruby .w-box-body {padding: 8px 8px 8px 175px;}
}

.btn-img img{
    height: 32px;
}


/**
 * Flush BG
 */
@-webkit-keyframes red{
    0% {
        background-color: rgba(255, 0, 0, 0.0);
        opacity:1;
    }
    100% {
        background-color: rgba(219, 53, 69, 0.75);
    }
}
@-webkit-keyframes green{
    0% {
        background-color: rgba(255, 0, 0, 0.0);
        opacity:1;
    }
    100% {
        background-color: rgba(25, 134, 84, 0.75);
    }
}

.flush-red {
    -webkit-animation-name: red;
    -webkit-animation-duration: 1000ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
}
.flush-green {
    -webkit-animation-name: green;
    -webkit-animation-duration: 1000ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
}

/**
 * Z Options
 */
.h-menu #doO-search-menu {z-index: 990;}
.h-menu form#h-jump {z-index: 910;}
.h-menu {z-index: 900;}

.b-menu {z-index: 800;}
#screen-wrapper {z-index: 100}

/**
 * Over Screen
 */
#over-screen{
    z-index: 999999;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(68,9,9,0.5);
    color: #fff;
}

.volumeinput {
    display: inline-block;
    width: 30%;
    border-radius: 0 !important;
    border: 0 !important;
    line-height: 40px;
    font-size: 16px;
}