.progress {
    --color: #000;
}

#w-profile-progress .circle-progress {
    height: 52px;
    width: auto;
}
@media (min-width: 768px) {
    #w-profile-progress .circle-progress {
        height: 40px;
        width: auto;
    }
}
.circle-progress-value {
    stroke-width: 3px;
    stroke: var(--color);
}
.circle-progress-circle {
    stroke: rgba(234, 237, 245, 0.75);
    stroke-width: 1px;
}
.circle-progress-text {
    font-size: 25px;
}
